body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: linear-gradient(to top, #243B55, #141E30);
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #4FC3F7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.current-weather {
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.temp-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.temp-info img {
  width: 64px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}

.day {
  flex: 1;
  background: rgba(255,255,255,0.15);
  color: rgb(10, 5, 5);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}


.extra-info {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.forecast .day {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f7f7f7;
  margin: 5px;
}


#weatherMap {
  width: 100%;
  margin-top: 20px;
}
